{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Tempest Weather Config
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
      <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
        <h1 class="center">Tempest Weather Station Config</h1>
        {% if 'token' not in config or config['token'] == "" %}
            <h2>Authenticate</h1>
            {{ wtf.quick_form(form) }}
        {% else %}
            <h2>{{config.station_name}}</h1>
            <p>Token {{config.get('token')}}</p>
            <p>Currently on: {{"Yes" if config.is_on else "No" }}</p>
            {{ wtf.quick_form(config_form) }}
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}
